@import "./header.css";
@import "./footer.css";

body {
    margin: 0;
    padding: 0;
    display: block;
    font: 13px/1.4 "Noto Sans KR", "Noto Sans JP", "돋움", Dotum, AppleGothic,
        Sans-serif;
    color: #666;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
