#header {
    height: 90px;
    width: 100%;
    top: 0;
    z-index: 110;
    left: 0;
}
#header .menu {
    margin: 0 191px 0 284px;
}
#header .nav_container {
    padding: 0 20px;
}
#header .nav_container .nav_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#header .nav_container .nav_wrapper li {
    letter-spacing: -1px;
    color: #333;
    position: relative;
    text-align: center;
    font-size: 19px;
    width: auto;
    height: 90px;
    line-height: 90px;
}
#header .nav_container .nav_wrapper li:hover {
    font-weight: 700;
    color: #000;
}
#header .nav_container .nav_wrapper li .active {
    font-weight: 700;
    color: #000;
}
